name: ci

on:
  push:
    branches:
      - "main"

jobs:     
  build:
    runs-on: ubuntu-latest      
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3.1.0
      - name: create file with password
        uses: mobiledevops/secret-to-file-action@v1
        with:
          base64-encoded-secret: ${{ secrets.PASS_FOR_ANSIBLE }}
          filename: ".vault_pass"
          is-executable: true
          working-directory: "./secrets"
      -
        name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASS }}
      -
        name: Build docker
        shell: bash
        run: docker-compose build
      -
        name: Start docker
        shell: bash
        run: docker-compose up -d 
      -
        name: Run docker
        shell: bash
        run: docker-compose run app 
      - 
        name: Stop docker
        shell: bash
        run: docker-compose down
